Лабораторна робота № 4
Смислов Даніл
ІП-01

Спочатку імпортуємо потрібні для роботи бібліотеки

In [ ]:
from dataclasses import replace
import pandas as pd 
import matplotlib.pyplot as plt

Далі імпортуємо дані з файлу Data2.csv з кодуванням 'cp1252' та розділювачем ';'. Розглянемо структуру датафрейму.

In [ ]:
def getDataset():
    data = pd.read_csv('Data2.csv',sep=';',encoding='cp1252')
    return data 

dataset = getDataset()
dataset.info()
dataset.head(10)

Бачимо, що проблема з типами даних. Напишемо функцію, що конвертує в тип float та заміняє ',' на '.'. Застосуємо до стовпців, перевіримо типи.

In [ ]:
def toFloat(dataset,columnName):
    dataset[columnName] = dataset[columnName].str.replace(',', '.').astype(float)

toFloat(dataset,'GDP per capita')
toFloat(dataset,'CO2 emission')
toFloat(dataset,'Area')
dataset.dtypes

Окей, з типами проблему вирішили. Далі я помітив проблему з очевидно некоректними від'ємними даними в певних стовпцях. Давайте напишемо процедуру та замінимо від'ємні значення на абсолютні. Також для перевірки виведемо чи залишились в нас від'ємні значення.

In [ ]:
def replaceNeg(dataset,columnName):
    dataset[columnName] = abs(dataset[columnName])

replaceNeg(dataset,'Area')
replaceNeg(dataset,'GDP per capita')

print(dataset[dataset['Area']<0])
print(dataset[dataset['GDP per capita']<0])

Також помітив, що є NULL значення. Давайте замінимо їх на середні значення. Перевіримо вигляд даних тепер.

In [ ]:
def replaceNull(dataset,columnName):
    mean = dataset[columnName].mean()
    dataset[columnName].fillna(mean,inplace = True)
replaceNull(dataset,'CO2 emission')
replaceNull(dataset,'GDP per capita')
replaceNull(dataset,'Populatiion')
dataset.head(10)